name: "Build, Check and Publish Docs"

on:
  workflow_call:

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Build Typedoc Documentation
        uses: p2arthur/algokit-shared-config-forked/.github/actions/generate-typescript-docs@main

      - name: Upload Documentation Artifact
        uses: actions/upload-artifact@v6
        with:
          name: github-pages-docs
          path: docs/_html
          retention-days: 1

  publish-docs:
    needs: build-docs
    runs-on: ubuntu-latest
    steps:
      - name: Download Documentation Artifact
        uses: actions/download-artifact@v7
        with:
          name: github-pages-docs
          path: docs/downloaded

      - name: Deploy Documentation
        uses: p2arthur/algokit-shared-config-forked/.github/actions/publish-docs@main
        with:
          artifact_path: docs/downloaded
