# File: .github/workflows/publish.yml

name: Publish - Reusable

on:
  workflow_call:

concurrency: release

jobs:
  check_docs:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          node-version: 22.x
      - name: Check docs are up to date
        shell: bash
        run: |
          npm ci --ignore-scripts
          npm run generate:code-docs
          # Add untracked files as empty so they come up in diff
          git add -N .
