name: CI Python

on:
  workflow_call:

jobs:
  ci_check:
    name: CI Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Poetry
        run: pipx install poetry
        shell: bash

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
          cache: "poetry"

      - name: Install dependencies
        run: poetry install
        shell: bash

      - name: Run Tests
        run: poetry run pytest
        shell: bash

  build:
    name: Build Python Package
    needs: ci_check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Poetry
        run: pipx install poetry
        shell: bash

      - name: Build Package
        run: poetry build
        shell: bash

      - name: Archive and Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: package
          path: dist/
