name: CI Python

on:
  workflow_call:

jobs:
  ci_check:
    name: CI Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Poetry
        run: pipx install poetry
        shell: bash

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "poetry"

      - name: Install dependencies
        run: poetry install
        shell: bash

      - name: Run Tests
        run: poetry run pytest
        shell: bash

  build:
    name: Build Python Package
    needs: ci_check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Poetry
        run: pipx install poetry
        shell: bash

      - name: Build Package
        run: poetry build
        shell: bash

      - name: Archive and Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: dist/

  # --- NEW: Docs Generation ---
  build-docs:
    name: Build and Check Docs
    needs: ci_check
    # Calling your shared documentation workflow
    uses: p2arthur/algokit-shared-config-forked/.github/workflows/build-and-publish-docs.yml@main
    with:
      project_type: python
    secrets: inherit
