name: CI Python

on:
  workflow_call: # This makes it reusable

jobs:
  ci_check: # Line 6: Mapping key
    name: CI Check # Line 7
    runs-on: ubuntu-latest # Line 8
    steps: # Line 10: Start of the sequence
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Poetry
        run: pipx install poetry
        shell: bash

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "poetry"

      - name: Install dependencies
        run: poetry install
        shell: bash

      - name: Run Tests
        run: poetry run pytest
        shell: bash
