name: "Run typedoc and publish to pages"

on:
  workflow_call:

jobs:
  build-docs:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Build Typedoc Documentation
        uses: ../../.github/actions/generate-typescript-docs
      - name: Upload Documentation Artifact
        uses: actions/upload-artifact@v4
        with:
          name: github-pages-docs
          path: docs/_html
          retention-days: 1

  publish-docs:
    needs: build-docs
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Download Documentation Artifact
        uses: actions/download-artifact@v4
        with:
          name: github-pages-docs
          path: docs/downloaded

      - name: Deploy Documentation
        uses: ../../.github/actions/publish-docs
        with:
          artifact_path: docs/downloaded
