name: "Run typedoc and publish to pages"

on:
  workflow_call:

jobs:
  build-docs:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Build Typedoc Documentation
        uses: algorandfoundation/algokit-shared-config/.github/actions/generate-typescript-docs@ci/extended-typedoc
        with:
          base_config_path: "typedoc.base.json"

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/_html # The path where typedoc outputs the HTML

  publish-docs:
    needs: build-docs
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy Documentation
        uses: algorandfoundation/algokit-shared-config/.github/actions/publish-docs@ci/extended-typedoc
