name: Generic Node.js Build and Zip

on:
  workflow_call:
    inputs:
      node-version:
        required: false
        type: string
        default: 20.x
      working-directory:
        required: false
        type: string
        default: "."
      build-path:
        required: false
        type: string
        default: dist
      artifact-name:
        required: false
        type: string
        default: node-artifact
      static-site:
        required: false
        type: boolean
        default: false
        description: Set to true for static sites to enable build-time environment variable substitution.
      static-site-env-prefix:
        required: false
        type: string
        default: VITE
        description: Environment variable prefix.
      pre-run-script:
        required: false
        type: string
      sample-env-path:
        required: false
        type: string
        default: .env.sample
        description: Path to the .env file containing environment variable keys.
    secrets:
      npm-auth-token:
        description: Custom NPM auth token for private package access.
        required: true # Now required
      github-token:
        description: The GITHUB_TOKEN required for checkout and GitHub package access.
        required: true

jobs:
  build-zip:
    runs-on: ubuntu-latest

    steps:
      - name: 1. Setup Environment and Auth
        uses: algorandfoundation/algokit-shared-config/.github/actions/setup-node-auth@main # Adjust path as needed
        with:
          node-version: ${{ inputs.node-version }}
          working-directory: ${{ inputs.working-directory }}
          npm-auth-token: ${{ secrets.npm-auth-token }}
          github-token: ${{ secrets.github-token }}

      - name: 2. Prepare Static Site Config Transformation
        if: ${{ inputs.static-site }}
        shell: bash
        run: |
          sed -n 's/\(${{ inputs.static-site-env-prefix }}_[A-Z0-9_]\+\)=\(.*\)/\1={{\1}}/p' ${{ inputs.sample-env-path }} > .env && cat .env
        working-directory: ${{ inputs.working-directory }}

      - name: 3. Run Build Scripts
        uses: algorandfoundation/algokit-shared-config/.github/actions/run-build-scripts@main # Adjust path as needed
        with:
          npm-auth-token: ${{ secrets.npm-auth-token }}
          pre-run-script: ${{ inputs.pre-run-script }}
          working-directory: ${{ inputs.working-directory }}

      - name: 4. Archive and Upload Artifact
        uses: algorandfoundation/algokit-shared-config/.github/actions/archive-artifact@main # Adjust path as needed
        with:
          build-path: ${{ inputs.build-path }}
          artifact-name: ${{ inputs.artifact-name }}
          working-directory: ${{ inputs.working-directory }}
