name: On Pull Request

on:
  workflow_call:
    secrets:
      NPM_TOKEN:
        required: true
jobs:
  ci:
    name: CI Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Run Node CI Action
        uses: p2arthur/algokit-shared-config-forked/.github/actions/node-ci@main
        with:
          working-directory: "."
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
